.catalogue-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px 0;
  margin-bottom: 30px;
}

.work-card {
  background-color: #fff;
  border-radius: 20px;
  padding: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  transition: box-shadow 0.1s ease-in-out, transform 0.1s ease;
  cursor: pointer;
}

.work-card:hover {
  box-shadow: 0 4px 20px rgb(0 0 0 / 0.25);
  transform: scale(1.05);
  z-index: 10;
}

.work-card h4 {
  background-color: black;
  color: white;
  padding: 6px 12px;
  border-radius: 12px;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  margin: 20px 0 20px 0;
  display: inline-block;
}


.work-card img {
  width: 220px;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
  border: 1px solid black;
  margin-bottom: 10px;
}

.status-message {
  font-family: 'Manrope', sans-serif;
  font-size: 20px;
  color: #eaeaea;
  text-align: center;
  margin: 20px 0;
  backdrop-filter: blur(2px);
}

.swal-popup-custom {
  background: #EEEEEE !important;
  border-radius: 25px !important;
  width: 850px !important;
  padding: 60px 60px !important;
  font-family: 'Manrope', sans-serif;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swal-container {
  display: flex;
  gap: 60px;
  width: 100%;
  align-items: center;
}

.swal-image-container {
  border: 1px solid black;
  border-radius: 25px;
  padding: 20px;
  max-width: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swal-image-container img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.swal-info-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  text-align: center;
}

.swal-title {
  background: black;
  color: white;
  padding: 8px 20px;
  border-radius: 15px;
  font-weight: 600;
  font-size: 16px;
  width: fit-content;
  margin: 0 auto;
}

.swal-description {
  border: 1px solid black;
  border-radius: 25px;
  padding: 25px 30px;
  font-size: 14px;
  line-height: 1.4;
  width: 320px;
  margin: 0 auto;
}

.swal-add-btn {
  background: black;
  color: white;
  border: none !important;
  border-radius: 15px;
  padding: 8px 20px;
  font-size: 14px;
  cursor: pointer;
  width: fit-content;
  margin: 0 auto;
  outline: none !important;
  box-shadow: none !important;
}

.swal-add-btn:hover {
  background-color: #d91c1c;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.swal-add-btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.sweet-shipping-popup {
  background-color: #EEEEEE;
  color: #000000;
  border-radius: 10px;
  padding: 20px;
}

.sweet-shipping-container {
  font-family: 'Manrope', sans-serif;
}

.sweet-shipping-title {
  color: #000000;
  font-size: 18px;
  margin-bottom: 20px;
}

.sweet-shipping-button {
  background-color: #000000;
  color: white;
  border-radius: 25px;
  padding: 6px 15px;
  border: none;
  font-weight: bold;
  font-size: 14px;
}


.sweet-shipping-input {
  width: 300px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.sweet-reg-popup{
  font-family: 'Manrope', sans-serif;
  color: #000000;
}

@media (max-width: 768px) {
  .catalogue-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
