.events-section {
  position: relative;
  background-image: url('https://res.cloudinary.com/df9wuyrbg/image/upload/v1748778993/eventos_seccion_uhim8p.jpg');
  background-size: cover;
  background-position: bottom;
  padding: 60px 20px;
  color: white;
}

.events-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
  pointer-events: none;
}

.events-section:hover::before {
  background: rgba(0, 0, 0, 0.5) !important;
  transition: ease-in-out 0.1s;
}

.events-content {
  position: relative;
  z-index: 2;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.event-item {
  margin-top: 50px;
  margin-bottom: 40px;
  white-space: pre-line;
}


@media (max-width: 600px) {
  .events-content h2{
    font-size: 15px !important;
  }

  .event-item{
    font-size: 10px !important;
  }
}