.contact-section {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
  background-color: #c1c1c1 !important;
  color: rgb(0, 0, 0) !important;
  padding: 15px !important;
  font-size: 13px !important;
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
  height: 60px !important;
  box-sizing: border-box !important;
  margin: 0 !important;
}


.contact-email,
.contact-phone,
.contact-address {
  flex: 1;
  text-align: center;
}


@media (max-width: 600px) {
  .contact-section{
    font-size: 10px !important;
  }
}
