.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  margin-top: 10px;
  background-color: black;
  z-index: 1000;
  box-sizing: border-box;
}

.header .logo img {
  max-height: 80px;
  width: auto;
}

.nav-links {
  display: flex;
  justify-content: flex-end; 
  flex-grow: 1;
  margin-right: 10px;
}

.nav-links ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.nav-links li {
  margin: 0 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #f1f1f1;
}

.login-button a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  border: 2px solid white;
  padding: 8px 16px;
  transition: background-color 0.3s;
}

.login-button a:hover {
  background-color: #ffffff;
  color: black;
}

/* Mobile */
@media (max-width: 768px) {
  .header {
    flex-wrap: wrap;
    padding: 15px;
  }

  .header .logo img {
    max-height: 80px;
    width: auto;
  }

  .nav-links {
    order: 3;
    width: 100%;
    margin-top: 15px;
    justify-content: flex-start;
  }

  .nav-links ul {
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
  }

  .nav-links li {
    width: 100%;
    text-align: left;
    margin: 5px 0;
  }

  .nav-links a {
    padding: 10px 0;
    display: block;
  }

  .login-button {
    order: 2;
  }
}
